<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Kuldeep Gupta" />
  <link rel="icon" href="../../../assets/logo.png" type="image/icon type" />
  <link rel="stylesheet" href="./image.css" />
  <title>Images</title>
</head>

<body>
  <header class="header">
    <div class="header-wrapper">
      <img class="logo" src="../../../assets/logo.png" alt="Arc UI Logo" />
      <h1><a class="header-heading" href="../../../index.html">Arc UI</a></h1>
    </div>
    <div class="header__nav">
      <nav>
        <ul>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://twitter.com/devdeadviz">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://www.linkedin.com/in/devdeadviz/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://github.com/devdeadviz">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="flex">
    <aside class="drawer-wrapper">
      <div class="drawer-header">
        <h2 class="drawer-heading">Get Started</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/intro.html">
          <p class="drawer-list-content">Introduction</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/color.html">
          <p class="drawer-list-content">Colors</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/typo.html">
          <p class="drawer-list-content">Typography</p>
        </a>
      </div>
      <div class="drawer-header">
        <h2 class="drawer-heading">Components</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../alert/alert.html">
          <p class="drawer-list-content">Alert</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../avatar/avatar.html">
          <p class="drawer-list-content">Avatars</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../badge/badge.html">
          <p class="drawer-list-content">Badges</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../button/button.html">
          <p class="drawer-list-content">Buttons</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../card/card.html">
          <p class="drawer-list-content">Cards</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../grid/grid.html">
          <p class="drawer-list-content">Grid</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../image/image.html">
          <p class="drawer-list-content">Image</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../input/input.html">
          <p class="drawer-list-content">Input</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../list/list.html">
          <p class="drawer-list-content">List</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../modal/modal.html">
          <p class="drawer-list-content">Modal</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../navigation/navigation.html">
          <p class="drawer-list-content">Navigation</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../rating/rating.html">
          <p class="drawer-list-content">Rating</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../toast/toast.html">
          <p class="drawer-list-content">Toast</p>
        </a>
      </div>
    </aside>
    <main class="main-content m-5 width-90">
      <h1 class="mb-4">Images</h1>
      <p class="mb-4">
        The Image Component comes with robust responsive features ready right
        out of the box. At the page template level, the design dialog can be
        used to define the default widths of the image asset. The Image
        Component will then automatically load the correct width to display
        depending on the size of the browser window.
      </p>
      <div class="responsive-image-wrapper">
        <h2 class="mt-4 mb-4">Responsive Image</h2>
        <div class="image-wrapper p-5">
          <img class="responsive-image" src="https://i.pravatar.cc/300" alt="responsive image" />
        </div>
        <p class="mt-4 mb-4">
          Responsive Images are the images that work well on devices with
          widely differing screen sizes. To make your image responsive add
          <b>'.responsive-image'</b> class to your image element and you can
          also use paddings and margins utility classes for adding spacing.
        </p>
        <div class="code-wrapper">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522responsive-image%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E"
            style="
                width: 754px;
                height: 76px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
      <div class="round-image-wrapper">
        <h2 class="mt-4 mb-4">Round Image</h2>
        <div class="image-wrapper p-5">
          <img class="responsive-image round-image" src="https://i.pravatar.cc/300" alt="round image" />
        </div>
        <p class="mt-4 mb-4">
          To make your image responsive and round add
          <b>'.responsive-image'</b> and <b>'.round-image'</b> class to your
          image element and you can also use paddings and margins utility
          classes for adding spacing.
        </p>
        <div class="code-wrapper">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522responsive-image%2520round-image%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E"
            style="
                width: 856px;
                height: 76px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
      <div class="responsive-image-wrapper">
        <h2 class="mt-4 mb-4">Responsive Images with Size Variant</h2>
        <div class="image-wrapper p-5">
          <img class="responsive-image xl-image m-2" src="https://i.pravatar.cc/300" alt="responsive image" />
          <img class="responsive-image lg-image m-2" src="https://i.pravatar.cc/300" alt="responsive image" />
          <img class="responsive-image sm-image m-2" src="https://i.pravatar.cc/300" alt="responsive image" />
        </div>
        <p class="mt-4 mb-4">
          Responsive Images are the images that work well on devices with
          widely differing screen sizes. To make your image responsive add
          <b>'.responsive-image'</b> class to your image element and for size
          variant you can use <b>'.xl-image'</b>, <b>'.lg-image'</b> or
          <b>'.sm-image'</b> and you can also use paddings and margins utility
          classes for adding spacing.
        </p>
        <div class="code-wrapper">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522responsive-image%2520xl-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E%250A%250A%253Cimg%2520class%253D%2522responsive-image%2520lg-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cimg%2520class%253D%2522responsive-image%2520sm-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E"
            style="
                width: 864px;
                height: 150px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
      <div class="round-image-wrapper">
        <h2 class="mt-4 mb-4">Round Images with size Variant</h2>
        <div class="image-wrapper p-5">
          <img class="responsive-image round-image xl-image m-2" src="https://i.pravatar.cc/300"
            alt="responsive image" />
          <img class="responsive-image round-image lg-image m-2" src="https://i.pravatar.cc/300"
            alt="responsive image" />
          <img class="responsive-image round-image sm-image m-2" src="https://i.pravatar.cc/300"
            alt="responsive image" />
        </div>
        <p class="mt-4 mb-4">
          To make your image responsive and round add
          <b>'.responsive-image'</b> and <b>'.round-image'</b> class to your
          image element and for size variant you can use <b>'.xl-image'</b>,
          <b>'.lg-image'</b> or <b>'.sm-image'</b> and you can also use
          paddings and margins utility classes for adding spacing.
        </p>
        <div class="code-wrapper">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522responsive-image%2520round-image%2520xl-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E%250A%250A%253Cimg%2520class%253D%2522responsive-image%2520round-image%2520lg-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cimg%2520class%253D%2522responsive-image%2520round-image%2520sm-image%2520m-2%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522responsive%2520image%2522%2520%252F%253E"
            style="
                width: 965px;
                height: 150px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
    </main>
  </div>
</body>

</html>