<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Kuldeep Gupta" />
  <link rel="icon" href="../../../assets/logo.png" type="image/icon type" />
  <link rel="stylesheet" href="./toast.css" />
  <title>Toast</title>
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="header-wrapper">
      <img class="logo" src="../../../assets/logo.png" alt="Arc UI Logo" />
      <h1><a class="header-heading" href="../../../index.html">Arc UI</a></h1>
    </div>
    <div class="header__nav">
      <nav>
        <ul>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://twitter.com/devdeadviz">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://www.linkedin.com/in/devdeadviz/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://github.com/devdeadviz">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Main wrapper -->
  <div class="flex">
    <!-- Sidebar -->
    <aside class="drawer-wrapper">
      <div class="drawer-header">
        <h2 class="drawer-heading">Get Started</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/intro.html">
          <p class="drawer-list-content">Introduction</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/color.html">
          <p class="drawer-list-content">Colors</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/typo.html">
          <p class="drawer-list-content">Typography</p>
        </a>
      </div>
      <div class="drawer-header">
        <h2 class="drawer-heading">Components</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../alert/alert.html">
          <p class="drawer-list-content">Alert</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../avatar/avatar.html">
          <p class="drawer-list-content">Avatars</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../badge/badge.html">
          <p class="drawer-list-content">Badges</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../button/button.html">
          <p class="drawer-list-content">Buttons</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../card/card.html">
          <p class="drawer-list-content">Cards</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../grid/grid.html">
          <p class="drawer-list-content">Grid</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../image/image.html">
          <p class="drawer-list-content">Image</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../input/input.html">
          <p class="drawer-list-content">Input</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../list/list.html">
          <p class="drawer-list-content">List</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../modal/modal.html">
          <p class="drawer-list-content">Modal</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../navigation/navigation.html">
          <p class="drawer-list-content">Navigation</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../rating/rating.html">
          <p class="drawer-list-content">Rating</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../toast/toast.html">
          <p class="drawer-list-content">Toast</p>
        </a>
      </div>
    </aside>

    <!-- Main Content Wrapper -->
    <main class="main-content m-5 width-90">
      <h1 class="mb-4">Toast</h1>
      <p class="mb-4">
        Toast serves as a feedback & confirmation mechanism after the user
        takes an action.
      </p>
      <div class="basic-toast-wrapper">
        <h2 class="my-4">Basic Toast</h2>
        <div class="toast-wrapper flex flexAlignItemsCenter">
          <span class="toast-text">
            Connection timed out. Showing the latest locally saved version of
            this document.
          </span>
          <div class="toast-btn-wrapper">
            <button class="toast-btn">RETRY</button>
          </div>
        </div>
        <div class="code-wrapper my-4">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast-wrapper%2520flex%2520flexAlignItemsCenter%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522toast-text%2522%253E%250A%2520%2520%2520%2520Connection%2520timed%2520out.%2520Showing%2520the%2520latest%2520locally%2520saved%2520version%2520of%250A%2520%2520%2520%2520this%2520document.%250A%2520%2520%253C%252Fspan%253E%250A%2520%2520%253Cdiv%2520class%253D%2522toast-btn-wrapper%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522toast-btn%2522%253ERETRY%253C%252Fbutton%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
                width: 603px;
                height: 224px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
      <div class="close-toast-wrapper">
        <h2 class="my-4">Toast with Close Button</h2>
        <div class="toast-wrapper flex flexAlignItemsCenter">
          <span class="toast-text">
            Connection timed out. Showing the latest locally saved version of
            this document.
          </span>
          <div class="toast-btn-wrapper flex flexAlignItemsCenter">
            <button class="toast-btn">RETRY</button>
            <span class="toast-close-btn">&times;</span>
          </div>
        </div>
        <div class="code-wrapper my-4">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast-wrapper%2520flex%2520flexAlignItemsCenter%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522toast-text%2522%253E%250A%2520%2520%2520%2520Connection%2520timed%2520out.%2520Showing%2520the%2520latest%2520locally%2520saved%2520version%2520of%250A%2520%2520%2520%2520this%2520document.%250A%2520%2520%253C%252Fspan%253E%250A%2520%2520%253Cdiv%2520class%253D%2522toast-btn-wrapper%2520flex%2520flexAlignItemsCenter%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522toast-btn%2522%253ERETRY%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522toast-close-btn%2522%253E%2526times%253B%253C%252Fspan%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
                width: 603px;
                height: 243px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
    </main>
  </div>
</body>

</html>