<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Kuldeep Gupta" />
  <link rel="icon" href="../../../assets/logo.png" type="image/icon type" />
  <link rel="stylesheet" href="./grid.css" />
  <title>Grid</title>
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="header-wrapper">
      <img class="logo" src="../../../assets/logo.png" alt="Arc UI Logo" />
      <a class="header-heading" href="../../../index.html">Arc UI</a>
    </div>
    <div class="header__nav">
      <nav>
        <ul>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://twitter.com/devdeadviz">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://www.linkedin.com/in/devdeadviz/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" class="social-icons-wrapper" href="https://github.com/devdeadviz">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Main wrapper -->
  <div class="flex">
    <!-- Sidebar -->
    <aside class="drawer-wrapper">
      <div class="drawer-header">
        <h2 class="drawer-heading">Get Started</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/intro.html">
          <p class="drawer-list-content">Introduction</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/color.html">
          <p class="drawer-list-content">Colors</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../../get-started/typo.html">
          <p class="drawer-list-content">Typography</p>
        </a>
      </div>
      <div class="drawer-header">
        <h2 class="drawer-heading">Components</h2>
      </div>
      <hr />
      <div class="drawer-options">
        <a class="drawer-lists flex flexAlignItemsCenter" href="../alert/alert.html">
          <p class="drawer-list-content">Alert</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../avatar/avatar.html">
          <p class="drawer-list-content">Avatars</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../badge/badge.html">
          <p class="drawer-list-content">Badges</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../button/button.html">
          <p class="drawer-list-content">Buttons</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../card/card.html">
          <p class="drawer-list-content">Cards</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../grid/grid.html">
          <p class="drawer-list-content">Grid</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../image/image.html">
          <p class="drawer-list-content">Image</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../input/input.html">
          <p class="drawer-list-content">Input</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../list/list.html">
          <p class="drawer-list-content">List</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../modal/modal.html">
          <p class="drawer-list-content">Modal</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../navigation/navigation.html">
          <p class="drawer-list-content">Navigation</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../rating/rating.html">
          <p class="drawer-list-content">Rating</p>
        </a>
        <a class="drawer-lists flex flexAlignItemsCenter" href="../toast/toast.html">
          <p class="drawer-list-content">Toast</p>
        </a>
      </div>
    </aside>

    <!-- Main Content Wrapper -->
    <main class="main-content m-5 width-90">
      <h1 class="mb-4">Grid</h1>
      <p class="mb-4">
        The CSS Grid Layout Module offers a grid-based layout system, with
        rows and columns, making it easier to design web pages.
      </p>
      <div class="grid-wrapper">
        <h2 class="my-4">Grid with 2 columns</h2>
        <div class="grid grid-col-2">
          <div class="grid-item">One</div>
          <div class="grid-item">Two</div>
        </div>
        <div class="code-wrapper my-4">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid-col-2%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-item%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-item%2522%253ETwo%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
                width: 50%;
                height: 131px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
      <div class="grid-wrapper">
        <h2 class="my-4">Grid with 3 columns</h2>
        <div class="grid grid-col-3">
          <div class="grid-item">One</div>
          <div class="grid-item">Two</div>
          <div class="grid-item">Three</div>
        </div>
        <div class="code-wrapper my-4">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28195%2C216%2C236%2C1%29&t=panda-syntax&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid-col-3%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-item%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-item%2522%253ETwo%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-item%2522%253EThree%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
                width: 50%;
                height: 150px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              " sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
      </div>
    </main>
  </div>
</body>

</html>