@import "../../../styles/typography.css";
@import "../../../styles/variable.css";
@import "../../../styles/reset.css";
@import "../../../styles/header.css";
@import "../../../styles/drawer.css";
@import "../../../styles/padding.css";
@import "../../../styles/margin.css";
@import "../../../styles/utils.css";
@import "../button/button.css";

.modal-wrapper {
  border: 2px solid var(--dark-color);
}

.btn-secondary {
  font-size: calc(1.2 * var(--default-font-size));
  padding: 8px;
}

.modal-wrapper {
  display: none;
}
