.body-wrapper {
  display: flex;
}

.drawer-wrapper {
  background-color: var(--secondary-color);
  color: var(--text-color);
  flex-basis: 30vw;
  padding: 1rem;
  height: 100vh;
}

.drawer-heading {
  font-size: 1.8vw;
}

.drawer-lists {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin: 10px 0;
  padding: 0.5rem 0.2rem;
}

.drawer-list-icons {
  font-size: 1.5vw;
}

.drawer-list-content {
  font-size: 1.2vw;
}

.drawer-lists:hover {
  background-color: #d4dfe9;
  border-radius: 5px;
}

.drawer-lists:focus {
  color: var(--primary-color);
  background-color: #a9cef3;
  border-radius: 5px;
}
