.container {
  display: flex;
  flex-wrap: wrap;
}

.drawer-wrapper {
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 15rem;
  padding: 1rem 0;
  overflow: auto;
  position: fixed;
  top: 4.5rem;
  bottom: 0;
}

.drawer-heading {
  font-size: calc(1.4 * var(--default-font-size));
  padding: 0.5rem 1.2rem;
}

.drawer-options {
  margin: 1.2rem 0;
}

.drawer-lists {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px 0;
  padding: 0.5rem 1.2rem;
}

.drawer-list-content {
  font-size: calc(1.05 * var(--default-font-size));
}

.drawer-lists:hover {
  background-color: #d4dfe9;
  border-radius: 5px;
}

.drawer-lists:focus {
  color: var(--primary-color);
  background-color: #a9cef3;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1;
  margin: 5.5rem 2rem 1rem 17rem;
}

@media screen and (max-width: 1016px) {
  .drawer-wrapper {
    display: none;
  }

  .main-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
