.header {
  background-color: var(--primary-color);
  display: flex;
  color: var(--white-color);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: var(--background-color);
  margin: 1rem;
  padding: 1px;
}

.header-heading {
  text-decoration: none;
  font-size: calc(1.6 * var(--default-font-size));
  color: var(--white-color);
}

.header__nav {
  margin-left: auto;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-icons-wrapper {
  color: var(--white-color);
}

.social-icons-wrapper i {
  font-size: 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
}

.header__nav p {
  margin: 0.8rem;
}

.social-links {
  text-decoration: none;
  color: var(--white-color);
  font-size: calc(1.2 * var(--default-font-size));
  cursor: pointer;
}

.header-icons {
  font-size: 1.4rem;
  color: var(--white-color);
  margin: 1.5rem 1.5rem;
  cursor: pointer;
}

.short-header {
  width: fit-content;
}

/* Mobile Header Styles */

.menuItem {
  display: none;
}

.hamburger {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 1016px) {
  .social-icons-wrapper i {
    display: none;
  }

  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
    background: transparent;
    color: var(--white-color);
    outline: none;
    border: none;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.767);
    color: var(--white-color);
    list-style: none;
    padding-top: 4rem;
    overflow-y: scroll;
  }

  .showMenu {
    transform: translateY(0);
  }
}
