/* Importing external styles */
@import "./typography.css";
@import "./variable.css";
@import "./reset.css";
@import "./header.css";
@import "./margin.css";
@import "../pages/components/button/button.css";

.main-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 8rem 1rem;
}

.main-logo {
  width: 20%;
  margin-right: 10px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content-heading {
  font-size: calc(4 * var(--default-font-size));
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

.content-subHeading {
  font-size: calc(1.5 * var(--default-font-size));
  padding: 1rem 1rem;
  color: var(--text-color);
  width: 30rem;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-secondary {
  color: var(--text-color);
  width: 10rem;
  text-align: center;
}

.content-image {
  max-width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
}

@media only screen and (max-width: 1010px) {
  .main-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
  }

  .content-image {
    margin: 5rem 0;
  }

}