:root {
  --primary-color: #5890b8;
  --secondary-color: #c3d8ec;
  --background-color: #fff;
  --text-color: #5c4159;
  --success-color: #ace0c9;
  --success-dark-color: #17a060;
  --danger-color: #f8d7da;
  --danger-dark-color: #d83643;
  --warning-color: #fff3cd;
  --warning-dark-color: #f5b800;
  --dark-color: #d3d3d4;
  --darker-color: #3e434b;
  --white-color: #fff;
  --padding: 0.25rem;
  --margin: 0.25rem;
  --default-font-size: 15px;
  --light-gray-color: #d3d3d3;
}

@media screen and (max-width: 1016px) {
  :root {
    --default-font-size: 21px;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --default-font-size: 30px;
  }
}
